    <!-- For keyboard users -->
    <a class="sr-only sr-only-focusable skip-menu" href="#sidebar">Skip Header</a>

    <header id="global-header" role="banner">

        <div class="wrap-header">

            <div class="container-fluid">

                <div class="row align-items-center">

                    <div class="col py-2">
                        <a class="text-white d-inline-block" href="index.html" title="NYC Core Framework Home">
                            <p class="logo"><strong>NYC Core<br>Framework</strong></p>
                        </a>
                    </div>
                    <!-- .col -->

                    <div class="col-auto d-md-none">

                        <div class="d-md-flex align-items-center">

                            <!-- Mobile Toggle Buttons -->

                            <ul class="extensible-list horizontal justify-content-between my-2">

                                <li>
                                    <button class="no-btn-style" type="button" title="Language" data-toggle="collapse" data-target="#global-language" aria-controls="global-language" aria-expanded="false">
                                        <span class="sr-only">Languages</span>
                                        <span class="fas fa-language fa-lg" ></span>
                                    </button>
                                </li>

                                <li>
                                    <button class="navbar-toggler no-btn-style" type="button" data-toggle="collapse" data-target="#nav-primary"
                                        aria-controls="nav-primary" aria-expanded="false" aria-label="Toggle navigation">
                                        <span class="fas fa-bars fa-lg" ></span>
                                    </button>
                                </li>

                            </ul>

                        </div>
                        <!-- .d-flex -->

                    </div>
                    <!-- .col -->

                    <div class="col-12 col-md-auto">

                        <nav class="collapse d-md-block border-top border-md-top-0 mx-n2 mx-md-0" id="nav-primary" role="navigation">

                            <ul class="extensible-list horizontal device-md p-2 px-md-0">

                                <li>
                                    <a href="get-started.html">
                                        Get Started
                                    </a>
                                </li>
                                <li>
                                    <a href="how-to-use.html">
                                        Documentation
                                    </a>
                                </li>
                                <li>
                                    <a href="templates.html">
                                        Templates
                                    </a>
                                </li>
                                <li class="d-none d-md-block">
                                    <button class="no-btn-style" type="button" title="Language" data-toggle="collapse"
                                        data-target="#global-language" aria-controls="global-language"
                                        aria-expanded="false">
                                        <span class="sr-only">Language</span>
                                        <span class="fas fa-language fa-lg" ></span>
                                    </button>
                                </li>

                            </ul>

                        </nav>
                        <!-- #nav-primary -->

                    </div>
                    <!-- .col -->

                </div>
                <!-- .row -->

            </div>
            <!-- .container-fluid -->

        </div>
        <!-- .wrap-header -->

        <div class="container-fluid border-top collapse" id="global-language">
            <div class="narrow py-2">
                <div id="google_translate_element"></div>
            </div>
        </div>

    </header>
    <!-- #global-header -->

    <main id="skip-header-target" role="main">

        <div class="overflow-auto" id="primary-content">

            <div class="container-fluid my-5">

                <div class="narrow text-center my-4">

                    <h1 class="display-4 text-body text-center">
                        CSS Customizer
                    </h1>

                    <p class="text-center">
                        To create your custom NYC Core Framework stylesheet, select the 5 colors you wish to use. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae ab inventore nisi.
                    </p>

                </div>
                <!-- .narrow -->

                <div class="narrow">

                    <!--
                    $primary: #181A7B;
                    $secondary: #3B6CF6;
                    $info: #A513B6;
                    $dark: #0A1438;
                    $light: #e6ecf7;
                    -->

                    <form class="needs-validation" novalidate method="POST" action="/compiler">

                        <div class="form-group">

                            <label for="color-primary">Primary Color
                                <span class="fs-md text-danger" aria-hidden="true">*</span>
                            </label>
                            <p class="invalid-feedback">
                                <span class="fas fa-exclamation-triangle"></span>
                                <span class="invalid-description">Color not properly formatted</span>
                                <span class="invalid-instruction">Please input as a 3, 6, or 8 character hex color with a hash sign. (ie. #181A7B)</span>
                            </p>

                            <div class="input-group" id="color-primary">
                                <input type="text" id="primary-input" name="primary" pattern="^#?([a-fA-F0-9]{6}|[a-fA-F0-9]{3}|[a-fA-F0-9]{8})$" class="form-control form-control-lg" value="#181A7B" onkeyup="coordinateColorChange(this)" />
                                <div class="input-group-append">
                                    <div class="color-pickr-primary btn" style="background-color: #181A7B;"></div>
                                </div>
                            </div>

                        </div>
                        <!-- .form-group -->
                        <div class="form-group">

                            <label for="color-secondary">Secondary Color
                                <span class="fs-md text-danger" aria-hidden="true">*</span>
                            </label>
                            <p class="invalid-feedback">
                                <span class="fas fa-exclamation-triangle"></span>
                                <span class="invalid-description">Color not properly formatted</span>
                                <span class="invalid-instruction">Please input as a 3, 6, or 8 character hex color with a hash sign. (ie. #181A7B)</span>
                            </p>
                            <div class="input-group" id="color-secondary">
                                <input type="text" id="secondary-input" name="secondary" pattern="^#?([a-fA-F0-9]{6}|[a-fA-F0-9]{3}|[a-fA-F0-9]{8})$" class="form-control form-control-lg" value="#3B6CF6" onkeyup="coordinateColorChange(this)" />
                                <div class="input-group-append">
                                    <div class="color-pickr-secondary btn" style="background-color: #3B6CF6;"></div>
                                </div>
                            </div>

                        </div>
                        <!-- .form-group -->
                        <div class="form-group">

                            <label for="color-info">Info Color
                                <span class="fs-md text-danger" aria-hidden="true">*</span>
                            </label>
                            <p class="invalid-feedback">
                                <span class="fas fa-exclamation-triangle"></span>
                                <span class="invalid-description">Color not properly formatted</span>
                                <span class="invalid-instruction">Please input as a 3, 6, or 8 character hex color with a hash sign. (ie. #181A7B)</span>
                            </p>
                            <div class="input-group" id="color-info">
                                <input type="text" id="info-input" name="info" pattern="^#?([a-fA-F0-9]{6}|[a-fA-F0-9]{3}|[a-fA-F0-9]{8})$" class="form-control form-control-lg" value="#A513B6" onkeyup="coordinateColorChange(this)" />
                                <div class="input-group-append">
                                    <div class="color-pickr-info btn" style="background-color: #A513B6;"></div>
                                </div>
                            </div>

                        </div>
                        <!-- .form-group -->
                        <div class="form-group">

                            <label for="color-dark">Dark Color
                                <span class="fs-md text-danger" aria-hidden="true">*</span>
                            </label>
                            <p class="invalid-feedback">
                                <span class="fas fa-exclamation-triangle"></span>
                                <span class="invalid-description">Color not properly formatted</span>
                                <span class="invalid-instruction">Please input as a 3, 6, or 8 character hex color with a hash sign. (ie. #181A7B)</span>
                            </p>
                            <div class="input-group" id="color-dark">
                                <input type="text" id="dark-input" name="dark" pattern="^#?([a-fA-F0-9]{6}|[a-fA-F0-9]{3}|[a-fA-F0-9]{8})$" class="form-control form-control-lg" value="#0A1438" onkeyup="coordinateColorChange(this)" />
                                <div class="input-group-append">
                                    <div class="color-pickr-dark btn" style="background-color: #0A1438;"></div>
                                </div>
                            </div>

                        </div>
                        <!-- .form-group -->
                        <div class="form-group">

                            <label for="color-light">Light Color
                                <span class="fs-md text-danger" aria-hidden="true">*</span>
                            </label>
                            <p class="invalid-feedback">
                                <span class="fas fa-exclamation-triangle"></span>
                                <span class="invalid-description">Color not properly formatted</span>
                                <span class="invalid-instruction">Please input as a 3, 6, or 8 character hex color with a hash sign. (ie. #181A7B)</span>
                            </p>
                            <div class="input-group" id="color-light">
                                <input type="text" id="light-input" name="light" pattern="^#?([a-fA-F0-9]{6}|[a-fA-F0-9]{3}|[a-fA-F0-9]{8})$" class="form-control form-control-lg" value="#e6ecf7" onkeyup="coordinateColorChange(this)" />
                                <div class="input-group-append">
                                    <div class="color-pickr-light btn" style="background-color: #e6ecf7;"></div>
                                </div>
                            </div>

                        </div>
                        <!-- .form-group -->

                        <button class="btn btn-lg btn-block btn-secondary my-5" type="submit">Create Stylesheet</button>

                    </form>


                </div>
                <!-- .narrow -->

            </div>
            <!-- .container-fluid -->

        </div>
        <!-- #primary-content -->

    </main>
    <!-- #content -->

    <footer class="bg-light py-3" role="contentinfo">

        <div class="container">

            <div class="narrow text-center">

                <p class="fs-md text-muted">
                   <strong class="d-block">NYC Core Framework</strong>
                   Current version: 1.0 - Alphabet City
                </p>

                <img class="mb-2" src="/nyc-core-framework-website/images/logo-doitt.svg" alt="NYC Information Technology and Telecommunications">

                <p class="fs-md text-muted">
                    The NYC Core Framework is created by NYC Information Technology and Telecommunications. &copy;
                    2019 - City of New York. All Rights Reserved.</p>
                <p>

                <ul class="extensible-list horizontal justify-content-center fs-md">
                    <li>
                        <a class="text-muted" href="https://www1.nyc.gov/home/terms-of-use.page">Terms</a>
                    </li>
                    <li>
                        <a class="text-muted" href="https://www1.nyc.gov/home/privacy-policy.page">Privacy</a>
                    </li>
                </ul>

            </div>
            <!-- .narrow -->

        </div>
        <!-- .container-fluid -->

    </footer>

    <!-- jQuery (full, compressed version) -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

    <!-- Popper.js and Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <!-- Google Translate -->
    <script>
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({
                pageLanguage: 'en'
            }, 'google_translate_element');
        }
    </script>

    <script src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

    <!-- NYC template JS (RTL, search and language toggle, back to top)  -->
    <script src="/nyc-core-framework-website/js/main.js"></script>

    <!-- Pickr JS -->
    <script src="https://cdn.jsdelivr.net/npm/@simonwep/pickr/dist/pickr.min.js"></script>

    <!-- Validation -->
     <script src="./nyc-core-framework-website/js/validation.js"></script>

    <script>

    function coordinateColorChange(event) {
      event.nextElementSibling.firstElementChild.style.backgroundColor = event.value
    }

    // Update Color Values
    var updateColorValues = (color, instance) => {
        var value = color.toHEXA().toString();
        var parent = instance.getRoot();
        parent.button.style.backgroundColor = value;
        parent.button.parentElement.previousElementSibling.value = value
    }
    // Color Pickr Options
    var options = {
        theme: 'monolith', // or 'monolith', or 'nano'
        useAsButton: true,
        components: {
            // Main components
            hue: true,
            preview: false,
            opacity: false,
            // Input / output Options
            interaction: {
                input: false,
                save: false
            }
        }
    };

    // Primary Color
    var pickr_primary = Pickr.create($.extend({}, options, {
        el: '.color-pickr-primary',
        default: '181A7B',

        swatches: [
            'rgba(244, 67, 54, 1)',
            'rgba(233, 30, 99, 0.95)',
            'rgba(156, 39, 176, 0.9)',
            'rgba(103, 58, 183, 0.85)',
            'rgba(63, 81, 181, 0.8)',
            'rgba(33, 150, 243, 0.75)',
            'rgba(3, 169, 244, 0.7)',
            'rgba(0, 188, 212, 0.7)',
            'rgba(0, 150, 136, 0.75)',
            'rgba(76, 175, 80, 0.8)',
            'rgba(139, 195, 74, 0.85)',
            'rgba(205, 220, 57, 0.9)',
            'rgba(255, 235, 59, 0.95)',
            'rgba(255, 193, 7, 1)'
        ]
    })).on('change', (color, instance) => updateColorValues(color, instance));
    // Secondary Color
    var pickr_secondary = Pickr.create($.extend({}, options, {
        el: '.color-pickr-secondary',
        default: '#3B6CF6',

        swatches: [
            'rgba(244, 67, 54, 1)',
            'rgba(233, 30, 99, 0.95)',
            'rgba(156, 39, 176, 0.9)',
            'rgba(103, 58, 183, 0.85)',
            'rgba(63, 81, 181, 0.8)',
            'rgba(33, 150, 243, 0.75)',
            'rgba(3, 169, 244, 0.7)',
            'rgba(0, 188, 212, 0.7)',
            'rgba(0, 150, 136, 0.75)',
            'rgba(76, 175, 80, 0.8)',
            'rgba(139, 195, 74, 0.85)',
            'rgba(205, 220, 57, 0.9)',
            'rgba(255, 235, 59, 0.95)',
            'rgba(255, 193, 7, 1)'
        ]
    })).on('change', (color, instance) => updateColorValues(color, instance));
    // Info Color
    var pickr_info = Pickr.create($.extend({}, options, {
        el: '.color-pickr-info',
        default: '#A513B6',

        swatches: [
            'rgba(244, 67, 54, 1)',
            'rgba(233, 30, 99, 0.95)',
            'rgba(156, 39, 176, 0.9)',
            'rgba(103, 58, 183, 0.85)',
            'rgba(63, 81, 181, 0.8)',
            'rgba(33, 150, 243, 0.75)',
            'rgba(3, 169, 244, 0.7)',
            'rgba(0, 188, 212, 0.7)',
            'rgba(0, 150, 136, 0.75)',
            'rgba(76, 175, 80, 0.8)',
            'rgba(139, 195, 74, 0.85)',
            'rgba(205, 220, 57, 0.9)',
            'rgba(255, 235, 59, 0.95)',
            'rgba(255, 193, 7, 1)'
        ]
    })).on('change', (color, instance) => updateColorValues(color, instance));
    // Dark Color
    var pickr_dark = Pickr.create($.extend({}, options, {
        el: '.color-pickr-dark',
        default: '#0A1438',

        swatches: [
            'rgba(244, 67, 54, 1)',
            'rgba(233, 30, 99, 0.95)',
            'rgba(156, 39, 176, 0.9)',
            'rgba(103, 58, 183, 0.85)',
            'rgba(63, 81, 181, 0.8)',
            'rgba(33, 150, 243, 0.75)',
            'rgba(3, 169, 244, 0.7)',
            'rgba(0, 188, 212, 0.7)',
            'rgba(0, 150, 136, 0.75)',
            'rgba(76, 175, 80, 0.8)',
            'rgba(139, 195, 74, 0.85)',
            'rgba(205, 220, 57, 0.9)',
            'rgba(255, 235, 59, 0.95)',
            'rgba(255, 193, 7, 1)'
        ]
    })).on('change', (color, instance) => updateColorValues(color, instance));
    // Light Color
    var pickr_light = Pickr.create($.extend({}, options, {
        el: '.color-pickr-light',
        default: '#e6ecf7',

        swatches: [
            'rgba(244, 67, 54, 1)',
            'rgba(233, 30, 99, 0.95)',
            'rgba(156, 39, 176, 0.9)',
            'rgba(103, 58, 183, 0.85)',
            'rgba(63, 81, 181, 0.8)',
            'rgba(33, 150, 243, 0.75)',
            'rgba(3, 169, 244, 0.7)',
            'rgba(0, 188, 212, 0.7)',
            'rgba(0, 150, 136, 0.75)',
            'rgba(76, 175, 80, 0.8)',
            'rgba(139, 195, 74, 0.85)',
            'rgba(205, 220, 57, 0.9)',
            'rgba(255, 235, 59, 0.95)',
            'rgba(255, 193, 7, 1)'
        ]
    })).on('change', (color, instance) => updateColorValues(color, instance));

    </script>
