<h1>NYC Core Framework Customization</h1>
<h2>Form</h2>
<form method="POST" action="/compiler">
  <div class="form-group">
    <label for="test">Test</label>
    <input type="text" class="form-control" id="test" aria-describedby="test" placeholder="Enter Test" >
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
