<!DOCTYPE html>

<html lang="en" dir="ltr">

<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Corrects IE Compatibility Mode -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Custom CSS • NYC Core Framework</title>

    <!-- Font Awesome -->
    <link rel="stylesheet" href="/nyc-core-framework/fontawesome/css/all.min.css">

    <!-- NYC Theme CSS -->
    <link rel="stylesheet" href="/nyc-core-framework/css/theme.css">

    <!-- Color Picker CSS -->
    <link href="/nyc-core-framework-website/bootstrap-colorpicker/dist/css/bootstrap-colorpicker.custom.css" rel="stylesheet">

</head>

<body>
    {{{body}}}
  </body>
</html>
