<!DOCTYPE html>

<html lang="en" dir="ltr">

<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Corrects IE Compatibility Mode -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Custom CSS • NYC Core Framework</title>

    <!-- Font Awesome -->
    <link rel="stylesheet" href="/nyc-core-framework/fontawesome/css/all.min.css">

    <!-- One of the following themes -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@simonwep/pickr/dist/themes/classic.min.css" />
    <!-- 'classic' theme -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@simonwep/pickr/dist/themes/monolith.min.css" />
    <!-- 'monolith' theme -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@simonwep/pickr/dist/themes/nano.min.css" />
    <!-- 'nano' theme -->


    <!-- NYC Theme CSS -->
    <link rel="stylesheet" href="https://cityofnewyork.github.io/nyc-core-framework-website/css/theme.css">


</head>

<body>
    {{{body}}}
  </body>
</html>
